body {
  font-family: "Roboto", sans-serif;
}

.logo {
  height: 40px;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  width: 1280px;
}

button {
  cursor: pointer;
}

input,
button {
  outline: none;
}

a {
  text-decoration: none;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

.main-img {
  width: 100%;
  height: 455px;
  object-fit: cover;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 10px 0;
  width: 1280px;
}

.header input {
  background-color: #f5f6f7;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  height: 37px;
  padding-left: 40px;
  width: 590px;
}

.header button {
  border: 1px solid #2cb1ba;
  border-radius: 5px;
  font-size: 12px;
  height: 30px;
  width: 115px;
}

.sign-up {
  margin-right: 20px;
}

.sign-up,
.login {
  background-color: #fff;
  color: #2cb1ba;
}

.sold {
  background-color: #2cb1ba;
  color: #fff;
}

.home {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.home-pictures {
  height: 360px;
  object-fit: cover;
  width: 235px;
}

.offers {
  cursor: pointer;
  padding: 0 6px 16px;
  width: 235px;
}

.user-info {
  display: flex;
  align-items: center;
  padding: 10px;
}

.profile-pic {
  border-radius: 50%;
  height: 25px;
  margin-right: 10px;
  object-fit: cover;
  width: 25px;
}

.home-offer-info {
  padding: 8px;
}

.home-offer-info p {
  font-size: 14px;
}

.home-span {
  color: #999;
  font-size: 12px;
}

.details {
  display: flex;
  flex-direction: column;
}

.hero {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 2px hsla(0, 0%, 7%, 0.24);
  display: flex;
  flex-direction: column;
  font-size: 34px;
  height: 220px;
  justify-content: center;
  padding: 25px;
  position: absolute;
  top: 75px;
  width: 360px;
  margin-top: 74px;
}

.hero button {
  background-color: #2baeb7;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  height: 45px;
  margin-top: 32px;
  padding: 0 14px;
  width: 187px;
}
/* ---------route offer--------- */

.main-offer {
  background-color: #ebedee;
  height: calc(100vh - 60px);
}

.offer-container {
  display: flex;
  gap: 30px;
  justify-content: space-around;
  margin: 0 auto;
  padding: 30px;
  width: 1280px;
}

.offer-picture {
  height: 600px;
  object-fit: cover;
}

.offer-info {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  width: 320px;
}

.offer-list {
  list-style-type: none;
  padding: 0;
}

.offer-list li {
  display: flex;
  padding: 2px 0;
}

.offer-price {
  color: #111;
  font-size: 24px;
  line-height: 32px;
}

.divider {
  background: hsla(0, 0%, 7%, 0.1);
  display: block;
  height: 1px;
  width: 100%;
}

.offer-user-info {
  display: flex;
  align-items: center;
}

.name {
  font-weight: 700;
}

.description {
  color: #666;
}

.offer-user-info > img {
  border-radius: 50%;
  height: 50px;
  margin-right: 10px;
  object-fit: cover;
  width: 50px;
}

button {
  background: #09b1ba;
  border: 1px solid #09b1ba;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  height: 36px;
  width: 100%;
}

.offer-info button {
  background: #09b1ba;
  border: 1px solid #09b1ba;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  height: 36px;
  line-height: 36px;
  margin-top: 32px;
  padding: 0 16px;
  width: 100%;
}

/* --------page signup--------- */

h2 {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-top: 30px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 275px;
  margin-top: 30px;
}

.input-text {
  border: none;
  border-bottom: 1px solid #fcced3;
  height: 35px;
  margin-bottom: 20px;
}

.check-box-glob {
  margin-top: 20px;
  padding: 10px;
}

.check-box {
  display: flex;
  align-items: center;
}

.check-box input {
  margin-right: 20px;
}

.check-box span {
  color: #666;
}

.conditions {
  color: #999;
  font-size: 12px;
  text-align: left;
  margin: 12px 0px;
}

.signup-form button {
  background-color: #2cb1ba;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  height: 45px;
  margin-top: 20px;
  outline: none;
  width: 100%;
}

.signup-form a {
  color: #2cb1ba;
  font-size: 12px;
  text-align: center;
  margin-top: 20px;
}

.error {
  color: red;
  text-align: center;
  padding-top: 25px;
  font-size: 9px;
}

.log-out {
  background-color: #c2175b;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 12px;
  height: 30px;
  outline: none;
  border: none;
}
